{% extends 'base.html' %}}
{% load staticfiles %}

{% block title %}
ROBOTiX Club • Verification
{% endblock %}

{% block content %}
<div class="register-page">
<div class="wrapper">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="content">
        <br><br>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12" align="center">
            <div class="card card-coin card-info">
                <br>
                <div class="card-body">
                <h3 class="text-white text-center">The Reset Link has been sent to your registered E-Mail ID.</h3>
                </div>
            </div>
            <div id="square7" class="square square-7"></div>
            <div id="square8" class="square square-8"></div>
            </div>
          </div>

          <div id="square1" class="square square-1"></div>
          <div id="square2" class="square square-2"></div>
          <div id="square3" class="square square-3"></div>
          <div id="square4" class="square square-4"></div>
          <div id="square5" class="square square-5"></div>
          <div id="square6" class="square square-6"></div>

        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}
